@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {

  background-color: #121212;
  color: #f3f3f3;
} */

:root {
  --themeColor: #133a41;
  --darkThemeColor: #0c2328;
  --lightThemeColor: #266f7f;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #133a41;
  /* background-color: #fff4f4; */
  background-color: #f8fafc;
  /* background-color: #f8fafc; */
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.header {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Bricolage Grotesque", sans-serif; */
  font-family: "Inter", sans-serif;
}
.subheader {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
}

themeColor {
  background-color: #133a41;
}

.fieldLabel {
  @apply flex items-center gap-2 text-[10px] font-black text-slate-500 uppercase tracking-[0.25em];
}

.fieldInput {
  @apply w-full bg-white border border-slate-300 rounded-xl px-5 py-3.5 text-[#133a41] focus:border-red-500 focus:ring-1 focus:ring-red-500/30 outline-none transition-all placeholder:text-slate-400 text-sm;
}
