@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {

  background-color: #121212;
  color: #f3f3f3;
} */

:root {
  --themeColor: #133a41;
  --darkThemeColor: #0c2328;
  --lightThemeColor: #266f7f;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #133a41;
  /* background-color: #fff4f4; */
  background-color: #fffff7;
  /* background-color: #f8fafc; */
  overflow-x: hidden;
}

.header {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Bricolage Grotesque", sans-serif;
}
.subheader {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter", sans-serif;
}

themeColor {
  background-color: #133a41;
}
